.section__prefooter{
    background-color: var(--color-primary-dark);
    padding: 5% 5%;
    .column__2{
        .col__left{
            padding-right: 10%;
            h3{
                font-size: var(--size-sm);
                color: var(--color-white);
                text-transform: uppercase;
                font-weight: 300;
            }
            h2{
                color: var(--color-white);
            }
            ul{
                margin-left: 10%;
                border-left: 0.2em solid var(--color-secondary);
                padding-left: 3%;
                li{
                    padding: 0.6em 0;
                    a{
                        color: var(--color-white);
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        margin-bottom: 0px;
                        &:hover{
                            text-decoration: underline;
                        }
                        &::before{
                            content: "";
                            width: 1.3em;
                            height: 1.3em;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 90%;
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }
                    &:nth-child(1) a::before{
                        background-image: url("../../../public/icons/phone.svg");
                    }
                    &:nth-child(2) a::before{
                        background-image: url("../../../public/icons/email.svg");
                    }
                    &:nth-child(3) a::before{
                        background-image: url("../../../public/icons/location.svg");
                    }
                }
            }
        }
        .col__right{
            form{
                label{
                    color: var(--color-white);
                }
                .btn{
                    &::before{
                        background-color: var(--color-primary-dark);
                    }
                }
            }
        }
    }
}

footer{
    margin-top: -3px;
    background-color: var(--color-primary-dark);
    padding: 0% 5% 50px;
}