#Privacy{

    .section__privacy{
        padding: calc(5% + 100px) 15% 8%;
        .column__1{
            h1{
                font-size: var(--size-xl);
                color: var(--color-black);
                font-weight: 800;
                text-transform: uppercase;
                border-bottom: 0.3em solid var(--color-secondary);
                width: fit-content;
            }
            h2{
                font-size: var(--size-lg);
                text-transform: unset;
                font-weight: 600;
                margin-top: 1.5em;
                color: var(--color-primary-dark);
                border-left: 0.3em solid var(--color-secondary);
                padding-left: 0.3em;
                line-height: 1.4;
            }
            p{
                line-height: 1.8;
            }
        }
    }

}


















/*  Tableta  */
@media only screen and (max-width: 1024px) {

    #Privacy{

        .section__privacy{
            padding: calc(3% + 100px) 5% 8%;
        }

    }

}


















/*  Móvil  */
@media only screen and (max-width: 768px) {

    #Privacy{

        .section__privacy{
            .column__1{
                p{
                    line-height: 1.6;
                }
            }
        }

    }

}