#Contact{

    .section__hero{
        padding: 100px 0% 0;
        height: auto;
        width: 100%;
        .column__2{
            .col__left{
                background-color: var(--color-primary-dark);
                padding: calc(5% + 7vh) 5% 5%;
                justify-content: center;
                width: 45%;
                &::before{
                content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 7vh;
                    background-color: var(--color-gray);
                    top: -3px;
                    left: 0;
                }
                
                .btn__wrapper{
                    margin-top: 4vh;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 1.2em;
                    .btn{
                        width: 100%;
                        &::before{
                            background-color: var(--color-primary-dark);
                        }
                        &:last-child{
                            background-color: var(--color-white);
                            &:hover{
                                background-color: #ddd;
                            }
                            &::after{
                                transform: rotate(135deg);
                                margin-top: -0.4em;
                            }
                        }
                    }
                }
            }
            .col__right{
                position: relative;
                width: 55%;
                video{
                    aspect-ratio: 1.25;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale();
                }
                .subject{
                    position: absolute;
                    height: 90%;
                    width: auto;
                    bottom: 0%;
                    left: -10%;
                    z-index: 1;
                }
            }
        }
    }

    .section__contact{
        padding: 8% 5%;
        .column__2{
            .col__left{
                width: 45%;
                padding-right: 10%;
                ul{
                    margin-left: 10%;
                    border-left: 0.2em solid var(--color-secondary);
                    padding-left: 3%;
                    li{
                        padding: 0.6em 0;
                        a{
                            color: var(--color-black);
                            text-decoration: none;
                            display: inline-block;
                            vertical-align: middle;
                            margin-bottom: 0px;
                            &:hover{
                                text-decoration: underline;
                            }
                            &::before{
                                content: "";
                                width: 1.3em;
                                height: 1.3em;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 90%;
                                position: relative;
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 10px;
                            }
                        }
                        &:nth-child(1) a::before{
                            background-image: url("../../../public/icons/phone.svg");
                        }
                        &:nth-child(2) a::before{
                            background-image: url("../../../public/icons/email.svg");
                        }
                        &:nth-child(3) a::before{
                            background-image: url("../../../public/icons/location.svg");
                        }
                    }
                }
            }
            .col__right{
                width: 55%;
                padding-left: 10%;
            }
        }
    }

    .section__map{
        .column__1{

        }
    }

}