.header{
    width: 100%;
    background-color: var(--color-white);
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: auto;
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo{
            height: 40px;
            img{
                height: inherit !important;
                position: relative;
                z-index: -1;
            }
        }
        ul.nav-links{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1.3vw;
            height: auto;
            li{
                height: auto;
                margin-bottom: 0px;
                position: relative;
                a{
                    font-size: 17px;
                    line-height: 1;
                    text-decoration: none;
                    color: var(--color-primary);
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0px;
                    &::after{
                        content: "";
                        position: absolute;
                        display: none;
                        width: 100%;
                        height: 4px;
                        background-color: var(--color-secondary);
                        left: 0;
                        bottom: 0;
                        pointer-events: none;
                    }
                    &.active{
                        &::after{
                            display: block;
                        }
                    }
                }
                
            }
        }
        .mensaje{
            font-size: 17px;
            line-height: 1;
            text-decoration: none;
            color: var(--color-primary);
            background-color: var(--color-secondary-light);
            padding: 8px 15px 8px 20px;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3px;
            transition: filter 0.3s ease-in-out;
            &::after{
                content: "";
                position: relative;
                background-image: url(/svg/user.svg);
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
                width: 26px;
                height: 26px;
            }
            &:hover{
                filter: brightness(1.1);
            }
        }
        .nav-toggle{
            width: 60px;
            height: 60px;
            position: relative;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            span{
                display: block;
                width: 35px;
                height: 2px;
                background-color: var(--color-primary);
                position: relative;
                transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.3s ease-in-out;
                &:nth-child(1){
                    position: relative;
                    top: -7px;
                    transform-origin: top right;
                }
                &:nth-child(2){
                    position: relative;
                    transform-origin: center center;
                }
                &:nth-child(3){
                    position: relative;
                    top: 7px;
                    transform-origin: bottom right;
                }
            }
            &.active{
                span{
                    background-color: var(--color-secondary);
                    &:nth-child(1){
                        transform: rotate(-45deg);
                        top: -10px;
                    }
                    &:nth-child(2){
                        transform: scaleX(0);
                        opacity: 0;
                    }
                    &:nth-child(3){
                        transform: rotate(45deg);
                        top: 10px;
                    }
                }
            }
        }

    }
    #mobile-menu{
        position: fixed;
        background-color: var(--color-primary-dark);
        top: 0;
        right: 0;
        transform: translateX(100%);
        width: 70vw;
        max-width: 400px;
        min-width: 200px;
        height: 100vh;
        transition: transform 0.3s ease-in-out;
        z-index: -1;
        padding: 60px 40px 60px;
        ul{
            li{
                border-bottom: 1px solid var(--color-primary);
                padding: 14px 0px;
                margin: 0px;
                a{
                    font-size: 17px;
                    line-height: 1;
                    text-decoration: none;
                    color: var(--color-white);
                    &.active{
                        color: var(--color-secondary);
                    }
                }
            }
        }
        &.active{
            transform: translateX(0%);
        }
    }
}














/* Desktop Middle */
@media only screen and (max-width: 1200px){

    .header{
        padding: 0 5%;
        nav{
            .logo{
                height: 40px;
            }
            ul.nav-links{
                gap: 10px;
                li{
                    a{
                        font-size: 14px;
                    }
                }
            }
            .mensaje{
                font-size: 14px;
                &::after{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

}




















/* Tableta */
@media only screen and (max-width: 1024px){

    .header{
        nav{
            .logo{
                max-width: 200px;
                img{
                    max-width: inherit;
                    width: auto;
                    object-fit: contain !important;
                }
            }
            .nav-toggle{
                display: flex;
            }
            ul.nav-links{
                display: none;
            }
            .mensaje{
                display: none;
            }
        }
    }

}




















/* Movil */
@media only screen and (max-width: 768px) {



}